.container {
  /* background-color: var(--bg-color); */
  max-width: 80rem;
  margin: auto;
  padding: 2rem 1rem;
}

.container hr {
  margin: 1.5rem 0;
  border: 1px solid var(--border-color);
  max-width: 305px;
}

.container1,
.container2 {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.container1 button {
  height: 12rem;
  width: 9rem;
  background-color: white;
  border: 1px dashed var(--border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 5px;
  align-items: center;
}

.container1 button:nth-child(1):hover {
    border: 1px dashed rgb(47, 156, 192);
}

.container1 button:nth-child(2):hover {
    border: 1px dashed rgb(207, 36, 199);
}

.container1 button:hover,
.container2 button:hover {
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
  cursor: pointer;
}

.container2 button {
  height: 12rem;
  width: 9rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-violet-color);
  border: 1px solid var(--violet-color);
  padding: 5px;
}

.editButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.icon {
  padding: 2px;
  border-radius: 5px;
}

.icon:hover {
  background-color: white;
}

.btnName {
  color: var(--violet-color);
  font-size: 1rem;
}
