.formContainer{
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
}

.container1{
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
}

.container2{
    height: fit-content;
    background-color: white;
}

.formInput {
    padding: 5px;
    /* width: 100%; */
    /* display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center; */
}

.formInput label {
    padding: 5px;
}

.formInput input {
    box-sizing: border-box;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    border: 0.01px solid grey;
}

@media (max-width: 768px) {
    .container1{
        width: 100%;
    }
}