.resumeContainer {
  background-color: rgb(250, 248, 248);
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.formTitleBtn {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.formTitleBtn button:nth-child(3) {
  margin-left: auto;
}

.formTitleBtn button:nth-child(3),
.formTitleBtn button:nth-child(4) {
  background-color: white;
  font-weight: bold;
  box-sizing: border-box;
  border: 0.5px solid rgb(236, 234, 234);
}

.formTitleBtn button:nth-child(3):hover,
.formTitleBtn button:nth-child(4):hover {
  transition: 0.5s ease;
  background-color: rgb(235, 232, 232);
}

.btnSection {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
  gap: 10px;
}

.downloadbtn {
  background-color: rgb(181, 236, 181);
  color: green;
}

.downloadbtn:hover {
  transition: 0.5s ease;
  box-shadow: 0 0 0 1px green;
}

.share {
  background-color: rgb(225, 225, 252);
  color: blue;
}

.share:hover {
  transition: 0.5s ease;
  box-shadow: 0 0 0 1px blue;
}

.public {
  background-color: rgb(238, 213, 238);
  color: rgb(128, 25, 128);
}

.public:hover {
  transition: 0.5s ease;
  box-shadow: 0 0 0 1px rgb(85, 26, 85);
}

.resumeFormContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 248, 248);
  gap: 30px;
}

.formSection {
  background-color: white;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  max-width: 500px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #d1d5db;
}

@media (max-width: 768px) {
  .formSection {
    margin: auto;
  }

  .resumeFormContainer {
    display: flex;
    flex-direction: column;
  }
}

.saveBth {
  padding: 15px 5px;
}
