.resumeForm{
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 248, 248);
    gap: 30px;
}

.formSection{
    background-color: white;
    border-radius: 0.5rem;
    height: 100%;
    width: 40%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #d1d5db;
}

.previewSection{
    height: 100%;
    width: 60%;
    background-color: white;
    padding: 30px;
    border: 1px solid #d1d5db;
}

.inputGroup {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputGroup label {
    padding: 5px;
    box-sizing: border-box;
    font-size: 0.875rem;
    font-weight: 500;
    color: #4b5563;
    font-weight:bold;
}

.inputGroup input {
    box-sizing: border-box;
    border: none;
    border-radius: 0.5rem;
    padding: 10px;
    width: 100%;
    border: 1px solid #d1d5db;
    transition: 0.3s ease;
    outline: none;
}

.inputGroup input:focus {
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px #3b82f6;
}

@media (max-width: 768px) {
    .formSection{
        width: 100%;
    }
}

.personalData{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid rgb(54, 151, 54);
    padding-bottom: 15px;
    margin-bottom: 20px;
} h1 {
    padding: 10px;
    color: rgb(54, 151, 54);
} 

.p1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} span {
    padding: 5px;
    display: inline-block;
}

.s1 {
    margin-bottom: 15px;
} h2 {
    padding: 10px 0;
}

.jobTitle{
    padding-left: 20px;
    border-left: 3px solid grey;
} h3 {
    padding-bottom: 5px;
}

.jobRoleTitle {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.duration {
    color: gray;
}

