.formContainer{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formContainer button {
    width: 100%;
    background-color: green;
    color: white;
}

.formContainer h3 {
    padding: 0;
}

.formContainer div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formContainer img:hover {
    cursor: pointer;
    background-color: var(--bg-color);
    transition: 0.5s ease;
}