.resumeFormContainer {
  height: 100%;
  width: 100%;
  max-width: 31rem;
  box-sizing: border-box;
}

.backBtn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: var(--text-gray-color);
  margin-bottom: 35px;
}

.backBtn:hover {
  color: black;
}


.formSection {
  position: relative;
  box-sizing: border-box;
  background-color: white;
  border-radius: 0.5rem;
  height: 100%;
  width: 100%;
  max-width: 32rem;
  padding: 10px 20px;
  border: 1px solid #d1d5db;
  border-top: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .formSection {
    margin: auto;
    width: 100%;
    max-width: 700px;
  }
}

.saveBth {
  padding: 15px 0px;
}