.editButtons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.icon {
  padding: 2px;
  border-radius: 5px;
}

.icon:hover {
  background-color: white;
}

.btnName {
  color: var(--violet-color);
  font-size: 1rem;
}

.date{
  color: var(--violet-color);
}