.previewSection{
    height: 100%;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    background-color: white;
    padding: 30px;
    border: 1px solid #d1d5db;
}

.s1 h2{
    color: var(--success-color);
}

.container {
  margin-bottom: 15px;
}
h2 {
  padding: 10px 0;
}

.container1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.title {
  padding-left: 20px;
  border-left: 3px solid grey;
  margin-bottom: 20px;
}

h3 {
  padding-bottom: 5px;
}

.dates{
    color: gray;
}

.itemsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    box-sizing: border-box;
    list-style: none;
}

.itemsContainer li::before{
    content: "•";
    padding-right: 5px;
}



